<div class="title-container">
  <div class="title-tag">
    The Tech Blog
  </div>
</div>

<div class="container-fluid">
  {{#each postData as |post|}}
  <a href="/post/{{post.id}}" style="text-decoration: none;">
  <div class="card-element">
    <div class="card-header">
      <div class="card-title">
        {{post.title}}
      </div>
      <div class="card-creator">
        {{post.user.name}}
      </div>
    </div>
    <div class="card-content">
      {{post.content}}
    </div>
  </div>
  </a>
  {{/each}}
</div>